body{
    text-align: center;
    background-image: linear-gradient(rgb(255, 205, 214),rgb(187, 255, 255)); 
}

h1{
    color: white;
    padding: 20;
    letter-spacing: 10;
    font-size: 40;
}

#line{
    height: 5px;
    background-color: rgb(230, 210, 210);
    width: 200px;
    margin: 8px auto;
}

img{
    padding: 20px;
    border-radius: 30;
}